/* CLIENT-SPECIFIC STYLES */
body, table, td, a{
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
} /* Prevent WebKit and Windows mobile changing default text sizes */
table, td{
	mso-table-lspace: 0pt; 
	mso-table-rspace: 0pt;
} /* Remove spacing between tables in Outlook 2007 and up */
img{
	-ms-interpolation-mode: bicubic;
} /* Allow smoother rendering of resized image in Internet Explorer */

.hidden-preheader-text {
	display: none; 
	font-size: 1px; 
	color: #fefefe; 
	line-height: 1px; 
	font-family: Helvetica, Arial, sans-serif; 
	max-height: 0px; 
	max-width: 0px; 
	opacity: 0; 
	overflow: hidden;
}

.no-spaces {
	margin: 0 !important;
	padding: 0 !important;
}

.itoohl-title {
	font-size: 30px; 
	text-align: center; 
	color: #fff;
}

.hero-image {
	display: block; 
	padding: 0; 
	color: #666666; 
	text-decoration: none; 
	font-family: Helvetica, arial, sans-serif; 
	font-size: 16px;
}

.hello-message {
	font-size: 25px; 
	font-family: Helvetica, Arial, sans-serif; 
	color: #333333; 
	padding-top: 30px; 
	text-transform: capitalize;
}

.email-message {
	padding: 20px 0 0 0; 
	font-size: 16px; 
	line-height: 25px; 
	font-family: Helvetica, Arial, sans-serif; 
	color: #666666;
}

.email-message-list {
	color: #666; 
	margin: 0; 
	padding-right: 5px;
}

.address-message {
	font-size: 12px; 
	line-height: 18px; 
	font-family: Helvetica, Arial, sans-serif; 
	color:#ffffff;
}

.bulletproof-button {
	font-size: 16px; 
	font-family: Helvetica, Arial, sans-serif; 
	color: #ffffff; 
	text-decoration: none; 
	border-radius: 3px; 
	padding: 15px 25px; 
	border: 1px solid #256F9C; 
	display: inline-block;
}

/* RESET STYLES */
img{
	border: 0; 
	height: auto; 
	line-height: 100%; 
	outline: none; 
	text-decoration: none;
}
table{
	border-collapse: collapse !important;
}
body{
	height: 100% !important; 
	margin: 0 !important; 
	padding: 0 !important; 
	width: 100% !important;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}

/* MOBILE STYLES */
@media screen and (max-width: 525px) {
	/* ALLOWS FOR FLUID TABLES */
	.wrapper {
	  width: 100% !important;
		max-width: 100% !important;
	}

	/* ADJUSTS LAYOUT OF LOGO IMAGE */
	.logo img {
	  margin: 0 auto !important;
	}

	/* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
	.mobile-hide {
	  display: none !important;
	}

	.img-max {
	  max-width: 100% !important;
	  width: 100% !important;
	  height: auto !important;
	}

	/* FULL-WIDTH TABLES */
	.responsive-table {
	  width: 100% !important;
	}

	/* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
	.padding {
	  padding: 10px 5% 15px 5% !important;
	}

	.padding-meta {
	  padding: 30px 5% 0px 5% !important;
	  text-align: center;
	}

	.padding-copy {
		 padding: 10px 5% 10px 5% !important;
	  text-align: center;
	}

	.no-padding {
	  padding: 0 !important;
	}

	.section-padding {
	  padding: 50px 15px 50px 15px !important;
	}

	/* ADJUST BUTTONS ON MOBILE */
	.mobile-button-container {
		margin: 0 auto;
		width: 100% !important;
	}

	.mobile-button {
		padding: 15px !important;
		border: 0 !important;
		font-size: 16px !important;
		display: block !important;
	}

}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] { margin: 0 !important; }