@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.otf');
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeue-LightItalic';
    src: url('../fonts/HelveticaNeue-LightItalic.otf');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'HelveticaNeue-Light';
  font-weight: 100;
  overflow-x: hidden;
  overflow-y: auto;
  color: #8f8f8f;
}

.bg-white {
	background-color: #fff !important;
}
.bg-gray {
	background-color: #d9e5f1 !important;
}
.bg-aqua {
	background-color: #4590c5 !important;
}
.bg-navy {
	background-color: #46639d !important;
}
.bg-yellow {
	background-color: #fff450 !important;
}
.bg-pink {
	background-color: #64a3cf !important;
}
.bg-red {
    background-color: #dd4b39 !important;
}
.bg-red-gradient {
  background: #dd4b39 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;
  background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;
  background: -moz-linear-gradient(center bottom, #dd4b39 0%, #e47365 100%) !important;
  background: -o-linear-gradient(#e47365, #dd4b39) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;
  color: #fff;
}
.text-white {
  color: #fff !important;
}
.text-semi-gray {
  color: #555353 !important;
}
.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #fff450 !important;
}
.text-aqua {
  color: #4590c5 !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #8f8f8f !important;
}
.text-navy {
  color: #46639D !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}
.text-pink {
	color: #4590c5 !important;
}

.text-twitter {
	color: #85cef9 !important;
}

.text-muted {
    color: #a9b9db !important
}

.text-primary {
    color: #fff450;
}

/* box style*/
.box {
  position: relative;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-default {
  border-top: none;
}

.box.has-shadow {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.no-padding {
	padding: 0 !important;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 5px 10px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}

a {
    color: #fff450
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fff450;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'HelveticaNeue-Light';
    font-weight: 100
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #f7f7f7
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #fff450;
    border-color: #fff450;
    height: 44px;
    font-family: 'HelveticaNeue-Medium';
    box-shadow: 2px 2px 3px rgba(104,104,104,0.2);
}

.btn-primary:hover {
    border-color: #4591C5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fff450;
    border-color: #337ab7
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fff450;
    border-color: #4591C5
}

.btn-primary .badge {
    color: #fff450;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #fff450;
    border-color: #fff450;
    font-family: 'HelveticaNeue-Light';
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fff450;
    border-color: #f6bf01
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fff450;
    border-color: #fff450
}

.btn-xl .badge {
    color: #fff450;
    background-color: #fff
}

.navbar {
	background-color: #fff !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.navbar-default {
    background-color: #fff;
    border-color: transparent
}

.navbar-default .navbar-brand {
    color: #fff450;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fff450
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
    background-color: #fff450;
    border-color: #fff450;
    border-radius: 4px !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff450
}

@media only screen and (max-width: 768px) {		
	.navbar-default .nav li {
		background-color: #4591c5;
		box-shadow: 0 0 1px #fff;
	}

    .navbar-default .nav li a {
        color: #fff !important
    }
}

.navbar-default .nav li a {
    font-family: 'HelveticaNeue-Light';
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #404040
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #4590c5;
    outline: 0
}

@media (min-width: 768px) {
    .navbar-inner-container {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-nav>li {
        margin: 0 15px;
    }

    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #404040;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #4590c5;
    background-color: transparent;
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #222;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

.navbar-default .btn-primary {
	padding: 8px 8px;
}

@media only screen and (max-width: 480px) {
	.navbar-default .btn-primary {
		margin-top: 0em;
	}	
}

header {
  position: relative;
  /*background-color: #4591c5;*/
  background-image: url('../img/header-bg.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-lead-in {
    font-family: 'HelveticaNeue-Light';
    font-size: 22px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
    text-shadow: 0 3px 8px rgba(0,0,0,.5);
}

header .intro-text .intro-heading {
    font-family: 'HelveticaNeue-Light';
    font-weight: 100;
    font-size: 1em;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0 3px 8px rgba(0,0,0,.5);
}

header .btn {
	position: relative;
  height: auto;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  color: #404040 !important;
  border-color: #fff !important;
}
header .btn:hover,
header .btn:active,
header .btn:focus {
	color: #8f8f8f !important;
  border-color: #fff !important;
  background: #fff;
}

.demo-form {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}

.demo-input {
    height: 40px;
    background-color: #ebebeb;
    border-color: #ebebeb !important;
    border-right: none !important; 
     box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1) !important;
    color: #8f8f8f;
}

.demo-input:active, 
.demo-input:hover,
.demo-input:focus {
    border-color: #ebebeb !important;
    border-right: none !important; 
}

.demo-btn {
  height: 44px;
	background-color: #FFF450 !important;
	border-color: transparent !important;
  font-family: 'HelveticaNeue-Medium';
	color: #4692C6 !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  box-shadow: 2px 2px 3px rgba(104,104,104,0.2) !important;
}

.demo-btn:active, 
.demo-btn:hover,
.demo-btn:focus,
.demo-btn:visited {
    color: #8f8f8f !important;
    border-color: #fff !important;
    background: #fff !important;
}

@media (min-width:768px) {
    header .intro-text {
        padding-top: 250px;
        padding-bottom: 250px
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-lead-in span {
        font-size: 65px;
        font-family: 'HelveticaNeue-Medium';
    }
    header .intro-text .intro-heading {
        font-family: 'HelveticaNeue-Light';
        font-weight: 100;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px
    }
}

.col-md-12 {
    padding: 0 5% !important;
}

section {
    padding: 0 !important
}

section h2.section-heading {
    font-size: 35px;
    color: #404040;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px
}

section p.sub-heading {
    font-size: 16px;
    font-weight: 100;
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}

.got-portal-btn, .demo {
	overflow: hidden;
	transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  color: #4591C5;
  font-family: 'HelveticaNeue-Medium';
}

.got-portal-btn:before {
	background-color: #4591C5 !important;
	z-index: -1;
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    left: 50%;
    opacity: 0;
    top: 50%;
    background: #fff;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: -10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out
}

.demo:before {
	background-color: #fff450 !important;
	z-index: -1;
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    left: 50%;
    opacity: 0;
    top: 50%;
    background: #fff;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: -10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out
}

.got-portal-btn:hover, .demo:hover {
	background-color: #fff !important;
  color: #8f8f8f !important;
  border-color: #fff !important;
  box-shadow: 2px 2px 3px rgba(104,104,104,0.2) !important;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
}

.got-portal-btn:hover:before, .demo:hover:before {
	opacity: 1;
	 transform: scale(8);
    -webkit-transform: scale(8);
    -moz-transform: scale(8);
    -ms-transform: scale(8);
}

@media (min-width:768px) {
    section {
        padding: 150px 0
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fff450
}

::selection {
    text-shadow: none;
    background: #fff450
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #fff450
}

/*===================================
About content
===================================*/
#about {
	padding-top: 52px !important;
	background-color: #f9f9f9;
}

#about h3 {
    font-family: 'HelveticaNeue-Medium';
    font-size: 24px;
}

.who {
	width: 100%;
	height: 200px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: url('../img/who.jpg') no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
}

.what {
	width: 100%;
	height: 200px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: url('../img/what.jpg') no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
}

.why {
	width: 100%;
	height: 200px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: url('../img/why.jpg') no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
}

@media (min-width:768px)  {
    #about .box-footer {
        height: 210px;
    }
}

#about .box:hover {
	box-shadow: 0 2px 20px rgba(0,0,0,0.3);
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-webkit-transform: translateY(-5%);
	-moz-transform: translateY(-5%);
	-o-transform: translateY(-5%);
}

@media only screen and (max-width: 768px) {
	.who, .what, .why {
		height: 250px;
	}
} 
/*===================================
Services content
===================================*/
#services {
	padding-top: 52px !important;
	background-color: #fff;
}

.feature-margin {
	margin: 4em 0 82px;
}

.feature-block {
    position: relative;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    padding: 30px 10px 20px;
    border-radius: 4px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.feature-block img {
    margin-bottom: 20px;
}

.feature-block h6 {
    font-size: 18px;
	color: #404040;
}

.features-monitor {
    position: relative;
    width: 100%;
    display: inline-block;
}

.f-h-1:hover, .f-h-2:hover, .f-h-3:hover, .f-h-4:hover {
	opacity: 1;
	transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  background: #4692C6;
}

.f-h-1:hover:before, .f-h-2:hover:before, .f-h-3:hover:before, .f-h-4:hover:before {
    opacity: 1;
    transform: scale(8);
    -webkit-transform: scale(8);
    -moz-transform: scale(8);
    -ms-transform: scale(8);
    background: #4692C6;
}


.feature-block:hover h6 {
    color: #fff;
}

.feature-block:hover {
    color: #fff;
    box-shadow: 2px 2px 20px rgba(104,104,104,0.2);
}

.feature-block:before {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: -1;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.monitor-img {
    position: absolute;
    height: 350px;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 12px;
    overflow: hidden;
}

.clip {
    clip: rect(auto, auto, auto, auto);
    height: 100%;
    position: absolute;
    width: 100%;
}

.clip-hide {
    opacity: 0;
    background-image: url('img/Services-Platform.gif');
}

.bg-bg-chrome.act {
    position: absolute;
}

.bg-bg-chrome {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: fixed;
}

.bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.monitor-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.monitor-mask img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
	.feature-margin {
		margin: 4em 0 4em;
	}

	.feature-block {
    	width: 100%;
    	float: left;
    	display: inline-block;
    	padding: 30px 40px 20px;
	}

	.features-monitor {
		display: none;
	}

}	

@media (min-width: 1024px) {
	.monitor-img {
    height: 280px;
	}
}

@media (min-width: 1280px) {
    .monitor-img {
    height: 365px;
    }
}

@media (min-width: 1366px) {
    .monitor-img {
    height: 365px;
    }
}

/*===================================
Provide content
===================================*/
#provide {
  padding-top: 52px !important;
  padding-bottom: 4em !important;
  background-color: #fff;
  color: #8f8f8f;
}

.provide-map {
  width: 100%;
}

.provide-list-header {
  padding: 10px 0;
  border-bottom: 1px solid;
  cursor: pointer;
}

.provide-list {
  text-align: left;
}

.provide-list ul {
  margin: 25px 0;
}

.provide-list ul li {
  padding: 2px 0;
  line-height: 25px;
}

.provide-list-header h4 {
  text-align: left;
}

.provide-list-header h4 a {
  color: #404040;
}

.provide-list-header h4 a i.provide-icon {
  margin-right: 1em;
  font-weight: 900;
  font-size: 1.5em;
}

.provide-list-header h4 a .provide-list-img {
  margin-right: 1em;
  width: 30px;
}

.provide-list-header h4 a i.pull-right {
  margin-top: 6px;
  margin-right: 0;
}

/*===================================
News and events content
===================================*/
#news {
	padding-top: 52px !important;
	padding-bottom: 4em !important;
	background-color: #f9f9f9;
	color: #8f8f8f;
}

@media (min-width: 900px) {
    #news .news-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#news .col-md-12 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#news .box {
    margin-bottom: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#news .box:hover {
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -o-transform: translateY(-5%);
}

#news .box-long {
    margin-bottom: 
}

#news .box-body {
	border-radius: 3px;
}

#news .box-body img {
	width: 100%;
	height: 135px;
	padding-bottom: 1em;
    object-fit: cover;
    object-position: 50% 50%;
}

#news .box-body .long-img {
    height: 250px;
}

#news .box-footer {
	border-top: none;
	padding-top: 3em;
	padding-bottom: 1em;
}

#news .long-box-footer {
    height: 164px;
}

#news a {
	color: #8f8f8f;
}

#news .icon {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 22px;
}

#news .news-content-title {
    padding: 0 20px;
    color: #404040;
    line-height: 26px;
}

#news ul li {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 786px) {
	#news .box-body img {
		height: 250px;
	}	
}
/*===================================
Single News and events content
===================================*/
#single-news {
    padding-top: 52px !important;
    padding-bottom: 4em !important;
    background-color: #f9f9f9;
    color: #8f8f8f;
}

@media (min-width: 900px) {
    #single-news .news-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#single-news .single-news-content {
    margin-top: 1em;
}

/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar,
.left-side, 
.single-news-popular,
.single-news-tags {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.single-news-popular {
    padding-top: 0;
}
.single-news-tags {
    padding-top: 0;
}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar,
  .sidebar-open .left-side {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.sidebar {
  padding-bottom: 10px;
}
.sidebar-form input:focus {
  border-color: transparent;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}
.sidebar-menu {
  list-style: none;
  margin: 2em 0;
  padding: 0;
  border-radius: 3px;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
  color: #8f8f8f;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-right: 5px;
}
.sidebar-menu > li .badge {
  margin-top: 3px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}
.sidebar-menu li.active > a > .fa-angle-left > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
  display: block;
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  color: #8f8f8f;
}
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 50px !important;
    z-index: 840;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li {
    position: relative;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 50px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    float: right;
    width: auto!important;
    left: 200px!important;
    top: 10px!important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  .sidebar-mini.sidebar-collapse .sidebar-form,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
  }
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}
.sidebar-menu:hover {
  overflow: visible;
}
.sidebar-form,
.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}
.sidebar-menu li > a {
  position: relative;
}
.sidebar-menu li > a > .pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
/*===================================
Login / Register
===================================*/
.login, .register {
	padding: 4em;
	padding-top: 2em;
}

.login-btn, .register-btn {
	overflow: hidden;
	transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  box-shadow: 2px 2px 3px rgba(104,104,104,0.2) !important;
  font-family: 'HelveticaNeue-Medium';
  color: #4591C5;
}

.login-btn:before, .register-btn:before {	
	background-color: #4591C5 !important;
	z-index: -1;
  backface-visibility: hidden;
  content: '';
  position: absolute;
  width: 0px;
  height: 20px;
  left: 50%;
  opacity: 0;
  top: 50%;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -10px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out
}

.login-btn:hover, .register-btn:hover {
	background-color: #fff !important;
  color: #8f8f8f !important;
  border-color: #fff !important;
  box-shadow: 2px 2px 3px rgba(104,104,104,0.2) !important;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
}

.login-btn:hover:before, .register-btn:hover:before {
	opacity: 1;
	 transform: scale(8);
    -webkit-transform: scale(8);
    -moz-transform: scale(8);
    -ms-transform: scale(8);
}

.login .fa, .register .fa {
	margin-top: -.6em;
}

.login.box, .register.box {
	box-shadow: none !important;
}

.login .box-header, .register .box-header {
	padding: 1em 1.5em;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.login .box-body, .register .box-body {
	padding: 2em 1em 2em;
}

@media (min-width: 768px) {
  .login .box-header, .register .box-header {
    width: 410px;
}

  .login .box-body, .register .box-body {
    width: 410px;
  }
}

@media only screen and (max-width: 480px) {
	.login, .register {
		padding: 1em;
	}

	.login .fa, .register .fa {
		display: none;
	}
}
/*===================================
Launch Itoohl
===================================*/
.launch {
	padding-bottom: 3em;
}

.launch .btn {
	padding: 0 3em !important;
}

@media only screen and (max-width: 768px) {
	.launch {
		margin-top: -3em;
	}
}
/*===================================
Footer
===================================*/
#contact {
  background-image: url(../img/footer-bg.png);
	background-color: #4591c5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	color: #fff;
	text-align: left;
  padding: 6em 2em !important;
}

#contact .no-pad {
  padding: 0 !important;
}

@media (min-width: 768px) {
  #contact {
    padding: 6em 8em !important;
  }
  #contact .no-pad {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

#contact h3 {
    font-family: 'HelveticaNeue-Medium';
    font-size: 43px;
}

#contact small {
  font-size: 18px;
  font-family: 'HelveticaNeue-Medium';
	color: #fff;
}

#contact ul {
	list-style-type: none;
	/*margin-left: -2.5em;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact ul li a {
	text-decoration: none;
	color: #fff;
}

#contact .btn {
	margin-top: .5em;
}

.margin-l-5 {
  margin-left: 5px;
}

#contact .footer-icon {
	font-size: 5rem;
	float: left;
	margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
	overflow: hidden;
  color: #4591C5 !important;
	transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
}

.subscribe:hover {
    color: #8f8f8f !important;
    border-color: #fff;
    background: #fff;
}

.footer-treeview .footer-treeview-menu {
  display: none;
}

.footer-treeview .footer-treeview-menu.is-visible {
  display: block;
}

@media (min-width: 768px) {
  .footer-treeview .footer-treeview-menu {
    display: none;
  }

  .footer-treeview:hover .footer-treeview-menu {
    display: block;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
  }

  @-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-10%); }   
      100% { opacity: 1; -webkit-transform: translateY(0); }
  }
  @-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-10%); }   
      100% { opacity: 1; -moz-transform: translateY(0); }
  }
}

#contact .footer-info-container {
  padding-top: 1em;
  font-size: 15px;
  font-family: 'HelveticaNeue-Medium';
}

#contact .footer-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
    #contact .footer-info-container {
      padding-top: 2em;
      display: flex;
      align-item: center;
      justify-content: center;
      margin-top: 0px;
    }
    #contact .footer-info {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    #contact .footer-info-map {
      justify-content: flex-start;
    }
    #contact .footer-info-phone {
      justify-content: center;
    }
    #contact .footer-info-mail {
      justify-content: flex-end;
    }
    .fa{
    font-size: 30px;
    }
    

}

#contact .footer-icon {
    float: none;
    margin-top: 0;
    margin-left: .5em;
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px) {
	#contact {
		text-align: left;
	}
	#contact .footer-icon {
		float: none;
		margin-top: 0;
		margin-left: 0;
		text-align: center;
		font-size: 5rem;
	}
}

#contact .popover {
   max-width: none;
   height: 400px;
   left: 0 !important;
}
#contact .popover-content {
  padding: 0 !important;
}

#contact .popover.top>.arrow {
  margin-left: -85px;
}

#contact .popover-content img {
  height: 100%;
  padding-bottom: 0;
  display: block
}
/*===================================
Delay Animation
===================================*/
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.transition-05s{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
/*
 * Component: modal
 * ----------------
 */
.modal-primary .modal-header,
.modal-primary .modal-body,
.modal-primary .modal-footer {
  background-color: #fff !important;
}
.modal {
  background: rgba(0, 0, 0, 0.3);
}
.modal-header .close {
    float: right !important;
    margin-right: -31px !important;
    margin-top: -31px !important;
    background-color: #d63c31 !important;
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
}
.modal-header .close span {
  margin-top: -.1em !important;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 7px solid #fff;
   width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top-color: #f4f4f4;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  border-color: #307095;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  border-color: #0097bc;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  border-color: #00733e;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #c23321;
}
.modal.fade .modal-dialog {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 615px !important;
  }
}
/*===================================
Get started
===================================*/
.get-started-section h3 {
  font-size: 30px;
  color: #404040;
}

.get-started-section p {
  font-size: 20px;
  line-height: 24px;
  color: #404040;
}
@media (min-width: 768px) {
  .get-started-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .clouds-container, .airplane-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }  
}

.transport-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===================================
sweet alert
===================================*/
.sweet-alert h2 {
    font-size: 20px !important;
}
/*===================================
Form input and button
===================================*/
input.form-control {
  height: 44px;
  border-color: rgba(126, 239, 104, 0) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0) !important;
  outline: 0 none !important;
}
.form-control:focus {
  border-color: rgba(126, 239, 104, 0) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0) !important;
  outline: 0 none !important;
}
