/* -------------------------------- 

Fonts

-------------------------------- */
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('../fonts/HelveticaNeue-Medium.otf');
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeue-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeue-LightItalic';
    src: url('../fonts/HelveticaNeue-LightItalic.otf');
}
/* -------------------------------- 

Primary style

-------------------------------- */
html {
  font-size: 62.5%;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'HelveticaNeue-Medium';
  color: #222;
  background-color: #e7eaf0;
  overflow: hidden;
}

.text-white {
  color: #fff !important;
}
/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #2d313f;
}
header h1 {
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  header {
    height: 300px;
    line-height: 300px;
  }
}

#google-container, #portal-list-container {
  position: relative;
  width: 80%;
  height: 100vh;
  float: right;
  background-color: #e7eaf0;
}

#google-map {
  position: relative;
}
#google-map address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: rgba(211, 104, 104, 0.9);
  color: white;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
  #google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}
#map-view, #list-view {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 70px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'HelveticaNeue-Medium';
  color: #8A8A8A;
}
#list-view {
  border-left: 1px solid rgba(0,0,0,0.2);
}
#zoom-in, #zoom-out, #traffic, #circle {
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.no-touch #zoom-in:hover, .no-touch #zoom-out:hover,
.no-touch #traffic:hover, .no-touch #circle:hover {
  background-color:  #fff;
}
@media only screen and (min-width: 768px) {
  #zoom-in, #zoom-out, #traffic, #circle {
    margin-left: 50px;
  }
}

#zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
}

#traffic {
  background-image: url("../img/traffic-icon.png");
}

#circle {
  background-image: url("../img/circle-icon.png");
}

#zoom-in {
  background-image: url("../img/zoom-in-icon.png");
}

#zoom-out{
  background-image: url("../img/zoom-out-icon.png");
}

@media only screen and (min-width: 768px) {
  #zoom-in {
    margin-top: 35px;
  }
}

#zoom-out {
  background-position: 50% -32px;
}

.main-content.is-fixed .tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.main-content.is-fixed .filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.main-content.is-fixed .filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


.tooltip {
  width: 120px;
  min-width: 75px;
  max-width: 500px;
}

.tooltip .tool-content {
  margin:0;
  padding:0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width:100%;
  height:100%;
}

.tooltip.left .tooltip-inner {
  border-radius: 0 !important;
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip.left > .tooltip-inner {background-color: rgba(0,0,0,0.6)}
.tooltip.left > .tooltip-arrow { border-left-color:rgba(0,0,0,0.6); }

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.tab-filter li {
  display: none;
}
.tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.tab-filter a {
  display: block;
  /* set same size of the .tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.tab-filter a.selected {
  background: #41307c;
  color: #ffffff;
}
.tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.tab-filter.is-open ul li {
  display: block;
}
.tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .tab-filter li {
    display: inline-block;
  }
  .tab-filter li.placeholder {
    display: none !important;
  }
  .tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .tab-filter a:hover {
    color: #41307c;
  }
  .tab-filter a.selected {
    background: transparent;
    color: #41307c;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #41307c;
  }
  .tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}
/* -------------------------------- 

xfilter 

-------------------------------- */
.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  background: #4590c5;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color:#4590c5;
  z-index: 2;
}
.filter .filter-title {
  position: absolute;
  width: 100%;  
  top: 7px;
  left: 0;
  text-align: center;
  z-index: 3;
}
.filter .filter-title a {
  font-size: 2em;
  color: #fff;
}
.filter .filter-title a:hover {
  text-decoration: none;
}
.filter .filter-title a img {
  width: auto;
}
.filter form {
  padding: 70px 20px 0;
}
.filter .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #4590c5;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.filter .close img {
  width: 2.5em;
  margin-top: .5em;
}
.no-touch .filter .close:hover {
  background: #32255f;
}
.filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.filter.filter-is-visible .close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .filter {
    width: 30%;
  }
  .filter form {
    padding: 70px 0 0;
  }
  .filter form .filter-search {
    padding: 0 10% 0;
  }
  .filter form .filter-scroll {
    padding: 0 10% 0;
  }
}

.filter form .basic-filter.is-hidden {
  display: none;
}

.filter form .demographic-filter.is-hidden {
  display: none;
}

.switcher input[type=radio]:checked + label {
  color: #fff !important;
}

.filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../img/icon-menu.svg") no-repeat center center;
  background-color: #4590c5;
  z-index: 2;
}
.filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .filter-trigger {
    width: 60px;
    left: 0;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .filter-trigger:hover {
    color: #41307c;
  }
  .filter-trigger.filter-is-visible, .filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.filter-block {
  margin-bottom: .5em;
}
.filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .filter-block h4:hover {
  color: #fff;
}
.filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.filter-block h4.closed {
  color: #8CB8D7;
}
.filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.filter-block input, .filter-block select,
.filter-block .radio-label::before,
.filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: 'HelveticaNeue-Medium';
  border-radius: 4px;
  background-color: #fff;
  border: 0;
}
.filter-block input[type='search'],
.filter-block input[type='text'],
.filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.filter-block input[type='search']:focus,
.filter-block input[type='text']:focus,
.filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
  color: #222;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02)
}
.filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.filter-block .select {
  /* select element wrapper */
  position: relative;
}
.filter-block .select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.filter-block select::-ms-expand {
  display: none;
}
.filter-block .list li {
  position: relative;
  width: 120px;
  margin: 1em 1em;
  display: inline-block;
  margin-bottom: .8em;
}
.filter-block .list li.block {
  display: block !important;
}
.filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.filter-block input[type=radio],
.filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.filter-block .checkbox-label,
.filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-block .checkbox-label::before, .filter-block .checkbox-label::after,
.filter-block .radio-label::before,
.filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.filter-block .checkbox-label::before,
.filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.filter-block .checkbox-label::after,
.filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/icon-check.svg") no-repeat center center;
}
.filter-block .radio-label::before,
.filter-block .radio-label::after {
  border-radius: 50%;
}
.filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.filter-block input[type=radio]:checked + label::before,
.filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.filter-block input[type=radio]:checked + label::after,
.filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .filter-block .select::after {
    display: none;
  }
}

/* -------------------------------- 

Side bar result 

-------------------------------- */

.side-bar-container {
  height: 300px;
  background: #fff;
  overflow-y: scroll;
  padding: 0;
}

.side-bar-container .side-bar-box {
  padding: 0 0 60px;
}

.side-bar-box li {
  padding: 10px 18px 10px 24px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.side-bar-box li:hover {
  cursor: pointer;
  background: #FAFAFA;
}

.side-bar-box li .markers-content {
  width: 100%;
}

.side-bar-box li .markers-content a  {
  color: #404040;
  font-family: "HelveticaNeue-Light";
}

.side-bar-box li .markers-content small {
  font-family: "HelveticaNeue-Light";
  font-size: 13px;
  line-height: 24px;
  color: #8f8f8f;
}

.side-bar-box li img {
  background-size: 80px 92px;
  height: 92px;
  width: 76px;
  vertical-align: top;
  -webkit-flex: 0 0 140px;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
}

/* -------------------------------- 

Inventory Single Item
-------------------------------- */
.inventory {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  background: #fff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.02s, box-shadow 0.02s;
  -moz-transition: -moz-transform 0.02s, box-shadow 0.02s;
  transition: transform 0.02s, box-shadow 0.02s;
}

@media only screen and (min-width: 1170px) {
  .inventory {
    width: 30%;
  }
}

.inventory.inventory-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.inventory.inventory-is-visible .close {
  opacity: 1;
}

.inventory .inventory-box {
  background: #4591c5;
}

.inventory .inventory-header {
  height: 50px;
}

.inventory .inventory-body {
  width: 100%;
  height: 260px;
  position: relative;
  background-color: #fff;
}

.inventory .inventory-body img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.inventory .inventory-body video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill !important;
}

.inventory .inventory-body video::-webkit-media-controls {
  display: none;
}


.inventory .inventory-footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.inventory .inventory-footer a {
  margin-left: 1em;
  text-decoration: none;
  color: #fff;
}

.inventory .inventory-content {
  padding: 20px 10%;
}

.inventory .inventory-content li {
  color: #222;
  list-style-type: none;
  margin-bottom: .5em;
}

.inventory .inventory-content li b {
  font-weight: 500;
}

.inventory .inventory-content li span {
  font-family: 'HelveticaNeue-Light'
}

.inventory .inventory-content-footer {
  padding: 0px 5%;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventory-content-footer a {
    text-decoration: none;
    display: flex;
    width: 33%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.inventory-content-footer li {
  list-style-type: none;
  display: inline-block;
  padding: 1em 0;
}

.inventory-content-footer li i {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: .5em;
}

.inventory-content-footer li span {
  text-align: center;
  font-size: 15px;
}
 
.inventory .close {
   position: absolute;
  top: 0;
  left: 2em;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  background: #4590c5;
  opacity: 1;
  display: flex;
  align-items: center;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.inventory .close i {
  font-size: 18px;
  margin-right: .5em;
}

/*
 * Component: modal
 * ----------------
 */
.modal-primary .modal-header,
.modal-primary .modal-body,
.modal-primary .modal-footer {
  background-color: #fff !important;
}
.modal {
  background: rgba(0, 0, 0, 0.3);
}
.modal-header {
  padding: 0;
}
.modal-header .close {
    float: right !important;
    margin-right: -27px !important;
    margin-top: -27px !important;
    background-color: #d63c31 !important;
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
}
.modal-header .close span {
  margin-top: -.1em !important;
}
.modal-title {
  color: #555353 !important;
}
.modal-body span {
  font-family: 'HelveticaNeue-Light';
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 7px solid #fff;
   width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }
}
.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top-color: #f4f4f4;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  border-color: #307095;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  border-color: #0097bc;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  border-color: #00733e;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #c23321;
}
.modal.fade .modal-dialog {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 615px !important;
  }
}

.quotes-btn {
  width: 100%;
  height: 40px;
  background-color: #FFF450 !important;
  border-color: #fff !important;
  box-shadow: none !important;
  color: #4591C5 !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
}

.quotes-btn:active, 
.quotes-btn:hover,
.quotes-btn:focus,
.quotes-btn:visited {
    background-color: #fff !important;
    color: #8f8f8f !important;
    border-color: #fff !important;
    box-shadow: 2px 2px 3px rgba(104,104,104,0.2) !important;
}

.inventory-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
/*
 * Component: Form
 * ---------------
 */
.form-control {
  border-radius: 4px;
  box-shadow: none;
  border-color: #d2d6de;
}
.form-control:focus {
  border-color: #3c8dbc;
  box-shadow: none;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a;
  box-shadow: none;
}
.form-group.has-success .help-block {
  color: #00a65a;
}
.form-group label {
  color: #555353;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12;
  box-shadow: none;
}
.form-group.has-warning .help-block {
  color: #f39c12;
}
.form-group.has-error label {
  color: #dd4b39;
}
.form-group.has-error .form-control {
  border-color: #dd4b39;
  box-shadow: none;
}
.form-group.has-error .help-block {
  color: #dd4b39;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #fff;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
.icheck > label {
  padding-left: 0;
}
/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
  line-height: 34px;
}
.input-lg + .form-control-feedback.fa,
.input-group-lg + .form-control-feedback.fa,
.form-group-lg .form-control + .form-control-feedback.fa {
  line-height: 46px;
}
.input-sm + .form-control-feedback.fa,
.input-group-sm + .form-control-feedback.fa,
.form-group-sm .form-control + .form-control-feedback.fa {
  line-height: 30px;
}
/* date-picker */
.datepicker-dropdown {
  z-index: 3001 !important;
}

/* -----------------------------------

    Print Portal

------------------------------------ */
.print-only{
  display: none;
}

@page {
  size: A4 landscape;
}
@media print{
  .inventory{
    display: block;
    z-index: 9999;
  }
  .gmnoprint{
    display:none;
  }
  #zoom-in, #zoom-out, #circle, #traffic, .gm-style-mtc{
    display: none;
  }
  video.inventory-image{
    z-index: 99999;
  }
  .inventory a.close{
    display: none;
  }
  .filter {
    display: none;
  }
  .filter-title{
    display: block;
  }
  video.inventory-image{
    display: none;
  }
  img { 
    max-width: none !important; 
  } 
  .inventory-content-footer{
    display: none;
  }
  .inventory {
    background: #fff!important;
    -webkit-print-color-adjust: exact; 
  }
  .inventory-box{
    background: #4591C5 !important;
    -webkit-print-color-adjust: exact; 
  }
  .inventory-content{
    background: #fff!important;
    -webkit-print-color-adjust: exact; 
  }
  .print-only{
    display: block;
    color: #fff!important;
    padding: 5%;
  }
  .inventory-footer a#name{
    color: #fff!important;
  }
}
/* -----------------------------------

    Portal Switch

------------------------------------ */
.switcher {
  text-align: center;
}
.switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 2px;
  /*--border-radius: 50em;--*/
  /*--border: 1px solid #225b78;--*/
}
.switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  width: 160px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  color: #8CB8D7;
  text-transform: uppercase;
}
.switcher .switch {
  /* floating background */
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 160px;
  opacity: 0.5;

 /*-- border-radius: 50em;--*/
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.switcher input[type="radio"]:checked + label + .switch,
.switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
  /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
  -webkit-transform: translateX(160px);
  -moz-transform: translateX(160px);
  -ms-transform: translateX(160px);
  -o-transform: translateX(160px);
  transform: translateX(160px);
}

.no-js .switcher {
  display: none;
}

/* -----------------------------------

    Portal Search Autocomplete

------------------------------------ */
.pac-container {
  display: none;
}
.ui-autocomplete {
  z-index: 100;
  width: 200px;
  padding: 1% 0;
  border: 1px solid #41307C;
  background: #fff;
  max-height: 300px;
  overflow-y: scroll;
}

.ui-autocomplete .ui-menu-item {
  cursor: pointer;
  margin-bottom: 3px;
  padding: 5px;
}

.ui-autocomplete .ui-menu-item:hover {
  background: #4590C5;
  color: #fff;
}
